# ======================================
# Title: .gitignore
# Author: Professor Krasso
# Date: 14 October 2020
# Modified By: Karina Alvarez
# Description: Adding .gitignore
# (global configuration file for git
# to web-340 GitHub repository.
# ======================================

# IDE
.vscode
.idea

# Node ddependency directories
node_modules/

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache
